<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Title</title>
    <link href="/css/find.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div>
        <h2>이메일 찾기</h2>
        <div>
            <table>
                <tr>
                    <th>이름 :</th>
                    <td><input></td>
                </tr>
                <tr>
                    <th>이메일 :</th>
                    <td><input></td>
                </tr>
                <tr>
                    <td colspan="2" class="find_e">
                    <button type="button" class="find_e_btn">이메일 찾기</button>
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <span></span>
        </div>
    </div>
</body>
</html>